body{
    background-color: #FFEBCD;
}
.first{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.sasha{
    border: 5px solid #FF4500;
    border-radius: 2em;
}
.zagolovok{
    text-align: center;
    color: #FF4500;
    font-size: 40px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.shapka{
    background-color: darksalmon;
    text-align: center;
    line-height: 2;
}